<<<<<<< HEAD
/*
Brian Stacks
MiU 1307
project3 6-5-13
*/



label.error{display: box; margin: 10px 0; color: red;}

#addFormErrorLink{display: none;}

=======
label.error{display: box; margin: 10px 0; color: red;}

#addFormErrorLink{display: none;}
>>>>>>> refs/heads/master
